# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* List of popular languages for Data Science
* List of commonly used libraries used by Data Scientists
* Data Science tools
* Examples of arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
    1. Phyton
    2. R
    3. C+
    4. Java
    5. Julia

Some of the commonly used libraries used by Data Scientists include:
    1. NumPy
    2. Matplotlib
    3. TensorFlow
    4. Pandas

| Data Science Tools |
-------------------------
|Git  | 
|GitHub |
|GitLab | 
|Bitbucket|

### Below are a few examples of evaluating arithmetic expressions in Python

x= 40
y= 10

addition: x + y

substraction: x - y

multiplication: x * y

division: x / y

In [15]:
x= 40
y= 10

add= x+y
sub= x-y
mult= x*y
div= x/y

print(add)
print(sub)
print(mult)
print(div)

50
30
400
4.0

In [16]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [20]:
#This will convert 200 minutes to hours by diving by 60
#Option A
200/60

3.3333333333333335

In [21]:
#Option B
minutes= 200
hour= minutes/60
print(hour)

3.3333333333333335

## Author:
Nicolas GF